.EditorBar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--color-9);
    padding: 20px;
    min-height: 100vh;
    max-height: 100vh;
}

.EditorBar .EditorBarTop {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

@media (prefers-color-scheme: dark) {
    .EditorBar {
        background-color: var(--color-2);
    }
}