.MdrCollapse {
    width: 100%;
    border: 1px solid var(--color-3);
    border-radius: var(--radius-md);
    overflow: hidden;
    background-color: var(--color-0);
}

.MdrCollapseItem+.MdrCollapseItem {
    border-top: 1px solid var(--color-3);
}

.MdrCollapseHeader {
    width: 100%;
    padding: var(--spacing-sm) var(--spacing-md);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    border: none;
    cursor: pointer;
    font-weight: 600;
    color: var(--color-8);
}

.MdrCollapseContent {
    padding: var(--spacing-md);
    color: var(--color-7);
    border-top: 1px solid var(--color-3);
}

.MdrCollapseItem.Disabled .MdrCollapseHeader {
    opacity: 0.5;
    cursor: not-allowed;
}

.MdrCollapseIcon {
    display: flex;
    align-items: center;
    justify-content: center;
}

[data-theme="dark"] {
    .MdrCollapse {
        background-color: var(--color-10);
        border-color: var(--color-7);
    }

    .MdrCollapseItem+.MdrCollapseItem {
        border-top-color: var(--color-7);
    }

    .MdrCollapseHeader {
        color: var(--color-2);
    }

    .MdrCollapseContent {
        color: var(--color-5);
        border-top-color: var(--color-7);
    }
}