.home {
    margin: 0 auto;
    width: calc(100vw - 80px);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    min-height: 100vh;


    .content {
        width: 85vw;

        .titles {
            display: flex;
            flex-direction: column;
            color: var(--color-9);
            margin-top: 100px;

            h1 {
                font-size: 64px;
                font-weight: 500;

                span {
                    font-weight: 800;
                    text-decoration: underline 4px wavy;
                    text-underline-offset: 7px;
                    color: var(--color-10);
                }
            }
        }

        h2 {
            color: var(--color-6);
            margin-top: 15px;
            font-size: 20px;
            font-weight: 400;
        }
    }

    .button-bar {
        display: flex;
        flex-direction: row;
        gap: 24px;
        margin-top: 80px;
    }
}

@media (prefers-color-scheme: dark) {

    .home {
        .content {
            .titles {
                color: var(--color-2);

                h1 {
                    span {
                        color: var(--color-0);
                    }
                }
            }

            h2 {
                color: var(--color-4);
            }
        }
    }
}