.MdrDataGrid {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0;
    color: var(--color-8);
    font-size: 14px;
}

.MdrDataGridHeader,
.MdrDataGridRow {
    display: grid;
    align-items: center;
}

.MdrDataGridHeader {
    background-color: var(--color-1);
    font-weight: 600;
    border-bottom: 1px solid var(--color-3);
}

.MdrDataGridRow {
    border-bottom: 1px solid var(--color-3);
}

.MdrDataGridCell {
    padding: var(--spacing-sm);
}

.MdrDataGrid.Striped .MdrDataGridRow:nth-child(even) {
    background-color: var(--color-1);
}

.MdrDataGrid.Hoverable .MdrDataGridRow:hover {
    background-color: var(--color-2);
}

.MdrDataGrid.Bordered .MdrDataGridCell {
    border-right: 1px solid var(--color-3);
}

.MdrDataGrid.Bordered .MdrDataGridCell:last-child {
    border-right: none;
}

.MdrDataGridEmpty {
    padding: var(--spacing-md);
    text-align: center;
    color: var(--color-6);
}

.AlignLeft {
    text-align: left;
}

.AlignCenter {
    text-align: center;
}

.AlignRight {
    text-align: right;
}
