.MdrStatistic {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xs);
    color: var(--color-8);
}

.MdrStatisticTitle {
    font-size: 12px;
    color: var(--color-6);
}

.MdrStatisticValue {
    font-size: 24px;
    font-weight: 600;
    display: flex;
    align-items: baseline;
    gap: 6px;
}

.MdrStatisticTrend {
    display: inline-flex;
}

.MdrStatisticTrendIcon {
    width: 18px;
    height: 18px;
}

.MdrStatistic.Up .MdrStatisticTrend {
    color: var(--color-success);
}

.MdrStatistic.Down .MdrStatisticTrend {
    color: var(--color-danger);
}

.MdrStatisticPrefix,
.MdrStatisticSuffix {
    font-size: 14px;
    color: var(--color-6);
}

[data-theme="dark"] {
    .MdrStatistic {
        color: var(--color-2);
    }

    .MdrStatisticTitle,
    .MdrStatisticPrefix,
    .MdrStatisticSuffix {
        color: var(--color-5);
    }
}
