.MdrTimeline {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-md);
    color: var(--color-8);
}

.MdrTimelineItem {
    display: flex;
    gap: var(--spacing-md);
    align-items: flex-start;
}

.MdrTimelineDot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-top: 6px;
    background-color: var(--color-5);
}

.MdrTimelineDot.Success {
    background-color: var(--color-success);
}

.MdrTimelineDot.Warning {
    background-color: var(--color-warning);
}

.MdrTimelineDot.Danger {
    background-color: var(--color-danger);
}

.MdrTimelineTitle {
    font-weight: 600;
}

.MdrTimelineTime {
    font-size: 12px;
    color: var(--color-6);
}

.MdrTimelineDescription {
    font-size: 13px;
    color: var(--color-7);
}
