.MdrVideo {
    display: block;
    transition: all var(--transition-normal);

    > div {
        border-radius: var(--radius-md);
        box-shadow: var(--shadow-sm);
    }

    video {
        background-color: var(--color-10);
    }

    &.aspect-16-9 {
        > div {
            aspect-ratio: 16 / 9;
        }
    }

    &.aspect-4-3 {
        > div {
            aspect-ratio: 4 / 3;
        }
    }

    &.aspect-1-1 {
        > div {
            aspect-ratio: 1 / 1;
        }
    }

    &.aspect-21-9 {
        > div {
            aspect-ratio: 21 / 9;
        }
    }

    &:hover > div {
        box-shadow: var(--shadow-md);
    }
}

[data-theme='dark'] {
    .MdrVideo > div {
        box-shadow: var(--shadow-sm);
    }

    .MdrVideo:hover > div {
        box-shadow: var(--shadow-md);
    }
}
