.MdrSection {
  box-sizing: border-box;
  width: 100%;
  position: relative;
  border-radius: var(--radius-md);
  transition:
    background-color var(--transition-normal),
    color var(--transition-normal),
    box-shadow var(--transition-normal);

  &.Small {
    min-height: 200px;
  }

  &.Medium {
    min-height: 400px;
  }

  &.Large {
    min-height: 600px;
  }

  &.FullWidth {
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);
  }

  &.PaddingNone {
    padding: 0;
  }

  &.PaddingSmall {
    padding: var(--spacing-md);
  }

  &.PaddingMedium {
    padding: var(--spacing-lg);
  }

  &.PaddingLarge {
    padding: var(--spacing-xl);
  }

  &.Left {
    text-align: left;
  }

  &.Center {
    text-align: center;
  }

  &.Right {
    text-align: right;
  }

  &.Default {
    background-color: var(--color-0);
    border: 1px solid var(--color-2);
  }

  &.Light {
    background-color: var(--color-2);
    border: 1px solid var(--color-3);
  }

  &.Dark {
    background-color: var(--color-10);
    color: var(--color-0);
  }

  &.Primary {
    background-color: var(--color-9);
    color: var(--color-0);
    box-shadow: var(--shadow-sm);
  }

  &.Secondary {
    background-color: var(--color-8);
    color: var(--color-0);
    box-shadow: var(--shadow-sm);
  }
}
