.MdrSection {
    box-sizing: border-box;
    width: 100%;

    &.FullWidth {
        width: 100vw;
        margin-left: calc(-50vw + 50%);
        margin-right: calc(-50vw + 50%);
    }

    &.PaddingNone {
        padding: 0;
    }

    &.PaddingSmall {
        padding: var(--spacing-md);
    }

    &.PaddingMedium {
        padding: var(--spacing-lg);
    }

    &.PaddingLarge {
        padding: var(--spacing-xl);
    }

    &.Left {
        text-align: left;
    }

    &.Center {
        text-align: center;
    }

    &.Right {
        text-align: right;
    }

    &.Default {
        background-color: var(--color-0);
    }

    &.Light {
        background-color: var(--color-2);
    }

    &.Dark {
        background-color: var(--color-10);
        color: var(--color-0);
    }

    &.Primary {
        background-color: var(--color-9);
        color: var(--color-0);
    }

    &.Secondary {
        background-color: var(--color-8);
        color: var(--color-0);
    }
}
