.MdrTooltip {
  position: relative;
  display: inline-flex;
  align-items: center;
}

.MdrTooltipContent {
  position: absolute;
  white-space: nowrap;
  background-color: var(--color-9);
  color: var(--color-0);
  padding: 4px 8px;
  border-radius: var(--radius-sm);
  font-size: 12px;
  opacity: 0;
  pointer-events: none;
  transition: opacity var(--transition-fast);
  z-index: 20;
}

.MdrTooltip:hover .MdrTooltipContent {
  opacity: 1;
}

.MdrTooltipContent.Top {
  bottom: 100%;
  left: 50%;
  transform: translate(-50%, -6px);
}

.MdrTooltipContent.Bottom {
  top: 100%;
  left: 50%;
  transform: translate(-50%, 6px);
}

.MdrTooltipContent.Left {
  right: 100%;
  top: 50%;
  transform: translate(-6px, -50%);
}

.MdrTooltipContent.Right {
  left: 100%;
  top: 50%;
  transform: translate(6px, -50%);
}
