.MdrHeading {
    line-height: 1.3;
    margin: 0;
    word-wrap: break-word;

    &.Left {
        text-align: left;
    }

    &.Center {
        text-align: center;
    }

    &.Right {
        text-align: right;
    }

    &.Level1 {
        font-size: 36px;
    }

    &.Level2 {
        font-size: 30px;
    }

    &.Level3 {
        font-size: 24px;
    }

    &.Level4 {
        font-size: 20px;
    }

    &.Level5 {
        font-size: 18px;
    }

    &.Level6 {
        font-size: 16px;
    }

    &.Light {
        font-weight: 300;
    }

    &.Normal {
        font-weight: 400;
    }

    &.Medium {
        font-weight: 500;
    }

    &.SemiBold {
        font-weight: 600;
    }

    &.Bold {
        font-weight: 700;
    }

    &.Default {
        color: var(--color-10);
    }

    &.Muted {
        color: var(--color-6);
    }

    &.Primary {
        color: var(--color-9);
    }

    &.Secondary {
        color: var(--color-8);
    }

    &.Danger {
        color: var(--color-danger);
    }

    &.Warning {
        color: var(--color-warning);
    }

    &.Success {
        color: var(--color-success, #10b981);
    }
}

@media (prefers-color-scheme: dark) {
    .MdrHeading {
        &.Default {
            color: var(--color-0);
        }

        &.Muted {
            color: var(--color-5);
        }

        &.Primary {
            color: var(--color-1);
        }

        &.Secondary {
            color: var(--color-3);
        }
    }
}
