.EditorHome {
    flex: 1;
    width: 100%;
    display: flex;
    color: var(--color-9);
}

.EditorHomeMain {
    flex: 1;
    padding: 48px 56px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    overflow-y: auto;
}

.EditorHomeHeader {
    display: flex;
    flex-direction: column;
    gap: 12px;
    max-width: 720px;
}

.EditorHomeHeader h1 {
    font-size: 2.5rem;
    line-height: 1.25;
    color: var(--color-10);
}


@media (max-width: 900px) {
    .EditorHome {
        flex-direction: column;
    }

    .EditorHomeMain {
        padding: 32px 20px;
    }
}

.EditorHomeMainCentered {
    margin: 0 auto;
    padding: 80px 20px;
    max-width: 900px;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.EditorHomeTitle {
    font-size: 48px;
    font-weight: 700;
    line-height: 1.2;
    margin: 0;
}

.EditorHomeBigAction {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    margin: 64px;
}

/* 巨大的大方形按钮 */
.EditorHomeNewProjectHugeButton {
    width: 260px; // 方形宽度
    height: 260px; // 方形高度
    font-size: 22px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius: 24px;
}

/* 图标和文字居中 */
.EditorHomeNewProjectHugeButton .MdrButtonIcon {
    margin-bottom: 12px;
}

.EditorHomeSmallTip {
    font-size: 14px;
    color: #999;
    margin-top: 12px;
}

@media (prefers-color-scheme: dark) {
    .EditorHome {
        color: var(--color-2);
    }

    .EditorHomeHeader h1 {
        color: var(--color-0);
    }

    .EditorHomeSmallTip {
        color: var(--color-4);
    }
}
