.EditorHome {
  flex: 1;
  width: 100%;
  height: 100%;
  display: flex;
  color: var(--color-10);
  background-color: var(--color-0);
}

.EditorHomeMain {
  // Use EditorHomeMain as the container
  flex: 1;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  overflow-y: auto;
}

.EditorHomeHeader {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}

.EditorHomeHeader h1 {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.25;
  color: var(--color-10);
  margin: 0;
}

.EditorHomeGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  grid-auto-rows: minmax(280px, auto);
}

.EditorHomeNewProjectButton {
  width: 100%;
  height: 100%;
  min-height: 280px;

  font-size: 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;

  border-radius: 16px;
  background-color: var(--color-1);
  color: var(--color-10);
  border: 2px dashed var(--color-3);
  transition: all var(--transition-normal);
  cursor: pointer;

  &:hover {
    background-color: var(--color-2);
    border-color: var(--color-6);
  }
}

.ProjectCard {
  background: var(--color-1);
  border: 1px solid var(--color-2);
  border-radius: 16px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all var(--transition-normal);
  cursor: pointer;
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 280px;

  &:hover {
    transform: translateY(-4px);
    box-shadow: var(--shadow-lg);
    background: var(--color-0);
    border-color: var(--color-4);
  }
}

.ProjectCardContent {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.ProjectCardTitle {
  font-size: 18px;
  font-weight: 600;
  color: var(--color-10);
  margin: 0;
}

.ProjectCardDescription {
  font-size: 14px;
  color: var(--color-6);
  line-height: 1.5;
  /* 限制行数 */
  display: -webkit-box;
  -webkit-line-clamp: 3;
    line-clamp: 3;
  padding-top: 16px;
  border-top: 1px solid var(--color-2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  color: var(--color-5);
}

@media (max-width: 1200px) {
  .EditorHomeGrid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 900px) {
  .EditorHomeGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .EditorHomeGrid {
    grid-template-columns: 1fr;
  }
}

.EditorHomeSmallTip {
  font-size: 14px;
  color: #999;
  text-align: center;
  margin-top: auto;
  padding: 12px;
  cursor: pointer;
  user-select: none;
  
  &:hover {
      color: var(--color-9);
  }
}

.EditorHomeFooter {
    margin-top: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}
