.Editor {
    min-height: 100vh;
    max-height: 100vh;
    display: flex;
    flex-direction: row;
    background: linear-gradient(120deg, var(--color-0) 20%, var(--color-1) 100%);
}

.EditorContent {
    flex: 1;
    min-height: 100vh;
    overflow: auto;
}

@media (prefers-color-scheme: dark) {
    .Editor {
        background: linear-gradient(120deg, var(--color-10) 20%, var(--color-9) 100%);
    }

}
