:root {
  --color-0: #FFFFFF;
  --color-1: #F5F5F5;
  --color-2: #EEEEEE;
  --color-3: #E0E0E0;
  --color-4: #CCCCCC;
  --color-5: #999999;
  --color-6: #666666;
  --color-7: #333333;
  --color-8: #1A1A1A;
  --color-9: #0D0D0D;
  --color-10: #000000;
  --color-danger: #ff6265;
  --color-danger-hover: #D9363E;
  --color-subdanger: #ff8080;
  --color-subdanger-hover: #D9363E23;
  --color-warning: #ffb007;
  --color-warning-hover: #eb9901;
  --color-subwarning: #ffb728;
  --color-subwarning-hover: #e08e0027;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Inter, 'HarmonyOS Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
  background-color: var(--color-0);
  color: var(--color-10);
  line-height: 1.5;
}