@use './MdrField.scss';

.MdrRange {
    width: 100%;
}

.MdrRangeValue {
    margin-left: auto;
    font-size: 12px;
    color: var(--color-6);
}

.MdrRangeTrack {
    position: relative;
    height: 8px;
    border-radius: var(--radius-full);
    background: linear-gradient(
        to right,
        var(--color-3) 0%,
        var(--color-3) var(--range-start),
        var(--color-9) var(--range-start),
        var(--color-9) var(--range-end),
        var(--color-3) var(--range-end),
        var(--color-3) 100%
    );
}

.MdrRangeInput {
    position: absolute;
    left: 0;
    top: -6px;
    width: 100%;
    height: 20px;
    background: transparent;
    pointer-events: auto;
    appearance: none;
}

.MdrRangeInput::-webkit-slider-thumb {
    appearance: none;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: var(--color-9);
    border: 2px solid var(--color-0);
    cursor: pointer;
}

.MdrRangeInput::-moz-range-thumb {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: var(--color-9);
    border: 2px solid var(--color-0);
    cursor: pointer;
}

.MdrRange.Disabled .MdrRangeTrack {
    opacity: 0.6;
}

[data-theme='dark'] {
    .MdrRangeTrack {
        background: linear-gradient(to right);
    }
}
