@use './MdrField.scss';

.MdrSlider {
    width: 100%;
}

.MdrSliderInput {
    width: 100%;
    accent-color: var(--color-9);
}

.MdrSliderValue {
    margin-left: auto;
    font-size: 12px;
    color: var(--color-6);
}

.MdrSlider.Disabled .MdrSliderInput {
    opacity: 0.6;
}

.MdrSlider.Small .MdrSliderInput {
    height: 4px;
}

.MdrSlider.Large .MdrSliderInput {
    height: 8px;
}
